<h1>Edit Wiki!</h1>
<div class="row">
  <div class="col-md-4">
    <p>Be careful when you are editing wikis.</p>
  </div>
  <div class="col-md-8">
    <%= render partial: "form", locals: { wiki: @wiki } %>
  </div>
  <% if current_user.premium? && @wiki.private %>
  <div class="col-md-4">
    <%= render partial: "/collaborators/collaborate", locals: { collaborators: @collaborators } %>
    <% @collaborators.each do |collaborators| %>
      <div class="media">
        <div class="media-body">
          <h5 class="media-heading">
              <%= "#{collaborators.email}" %><%= link_to " [remove]", collaborator_path(@wiki, :user_id => collaborators), :action => "create", :method => "delete" %>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render partial: "/collaborators/noncollaborate", locals: { noncollaborators: @noncollaborators } %>
    <% @noncollaborators.each do |noncollaborators| %>
      <div class="media">
        <div class="media-body">
          <h5 class="media-heading">
            <%= "#{noncollaborators.email}" %>
            <%= link_to " [add]", collaborators_path(:wiki_id => @wiki, :user_id => "#{noncollaborators.id}"), :action => "create", :method => "post" %>

          </h5>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
